
@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

*{box-sizing: border-box;}
body{
    font-family: 'GMarketSans';
    margin: 40px;
    color: #111;
}

.app{
    max-width: 520px;
    border: 2px solid #111;
    padding: 16px;
    margin: 0  auto;
}
.app .row{
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

input[type="text"]{
    flex: 1;
    padding: 10px;
    border: 2px solid #111;
}
button{
    padding: 10px 14px;
    border: 2px solid #111;
    background-color: #fff;
    cursor: pointer;
}
button:active{
    transform: translateY(1px);
}

.meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px  0 14px;
    font-size: 14px;
}


#todoList{
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 2px solid #111;
}
#todoList li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#todoList li .left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex: 1;
}

#todoList li .left .todo-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    flex: 1;
}
#todoList li.done .todo-text{
    text-decoration: line-through;
    opacity: .6;
}

#todoList li .left button.del{
    white-space: noewrap;
}
